
.btn { margin-bottom:5px; min-width:120px;  }
  
.display-count {
  display: inline-block; background: gainsboro; min-width: 10px;
  text-align: center; border-radius: 3px; padding-left: 3px;
  padding-right: 3px;
  }
